* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 5%;
}

input {
    padding: 5px;
}

input[type="submit"] {
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

.state, .park-num {
    margin: 10px;
}

h2 {
    margin-top: 75px;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

li, img {
    max-width: 500px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}
